/* Foundation v3.0 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
Working with ZURB 

Zurb is a CSS framework for rapid prototyping based around a 12-column, percentage-based grid. 

There are columns to structure the page.  
Rows create a max-width and contain the columns;
e.g. 


<!-- Foundation 3 Structure -->
<div class="row">
  <div class="six columns">
  <div class="six columns">
</div>

There's a lot more to it than this, check out http://foundation.zurb.com/docs/ for info. 

*/



/* --------------------------------------------------
Default colour scheme reference

-----------------------------------------------------



/* -----------------------------------------
Legacy class fixes
----------------------------------------- */


#primary {
	width: 100%;
	max-width: 980px;
	min-width: 727px;
	margin: 0 auto;
	
}

/*.top-bar {
	background: #444;
}*/

/* default foundation list style is outside */
.items ul, .collections ul, .search ul  {
	list-style-position:inside;
}
/* -----------------------------------------
Featured collections showcase using Orbit
----------------------------------------- */

div#featured { background: url(../images/spinner.gif) center center #f4f4f4; height: 300px; }
div#featured img { display: none; }

div#featured.orbit { background: none; }
div#featured.orbit img { display: block; }

/* -----------------------------------------
Browsing styles
----------------------------------------- */


.hentry {
	padding-top: 1em;
}

.element {
	margin-bottom: 1em;
}


ul#secondary-nav li {
	line-height: 3em;
	padding-left: 35px;
	list-style: none;
}

/*icons from WooFunction Icon set by Liam McKay */
li.nav-browse-by-tag {
	background: url(../images/preview.png) left center no-repeat;
}
li.nav-browse-all {
	background: url(../images/search.png) left center no-repeat;
}




/* Pagination ---------------------- */
ul.item-pagination { display: block; height: 24px; margin-left: -5px; }
ul.item-pagination li { float: left; display: block; height: 24px; color: #999; font-size: 14px; margin-left: 5px; }
ul.item-pagination li a { display: block; padding: 1px 7px 1px; color: #555; }
ul.item-pagination li:hover a, ul.pagination li a:focus { background: #e6e6e6; }
ul.item-pagination li.unavailable a { cursor: default; color: #999; }
ul.item-pagination li.unavailable:hover a, ul.pagination li.unavailable a:focus { background: transparent; }
ul.item-pagination li.current a { background: #2ba6cb; color: white; font-weight: bold; cursor: default; }
ul.item-pagination li.current a:hover, ul.pagination li.current a:focus { background: #2ba6cb; }

/* -----------------------------------------
Forms
----------------------------------------- */

#search-container {
float: right;
border: none;


}

#search-form input{
  border:none;
  border-color:transparent; /*Fix IE*/
overflow: hidden; 
width:70%;
display: inline-block;
}

/* a bit of a hacky way to match search buttons with foundation buttons */


#search-form input[type="submit"], #submit_search_advanced {
	width: 25%;

padding: 6px 12px 10px;
margin: 0 auto;
  outline:none;
  border:none;
  float: right;
background: #2ba6cb url(../images/misc/button-gloss.png) repeat-x 0 -34px;
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
text-shadow: 0 -1px 1px rgba(0,0,0,0.28);
border: 1px solid #0593dc;
-webkit-transition: background-color .15s ease-in-out;
-moz-transition: background-color .15s ease-in-out;
-o-transition: background-color .15s ease-in-out;
	color: #fff;
		margin: 6px 3px 18px;
}

#search-form {
margin: 0;
}




/*advanced search */

#advanced-search-form {
	max-width: 50%;
}

#search-selects > div.field {
margin-top: 1em;
}

#search-narrow-by-fields, #search-by-range, #search-selects {
margin: 20px 0;}


#advanced-search-form .inputs {
margin: 10px 0;
font-size: 1em;
}



/* All tags are created equal - moving away from the traditional, weighted tag cloud --------- */


.hTagcloud {
padding: 20px 0;}

.tagcloud p {
	padding: 10px;
}

.hTagcloud ul {
	width: 50%;
	overflow: hidden;

	margin: 0 0 1em;
	
}

.hTagcloud li {
	display: inline-block;
	float: left;

	text-align: center;
	margin: 0 10px 10px 0;
	padding: 3px 8px;
background-color: #555;
border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.hTagcloud a:hover {
color: white;




/* --------------------------------------------------
Pagination
-------------------------------------------------- */
ul.pagination_list {
	display: block;
	height: 24px;
	margin-left: -5px;
	padding-top: 10px;
}
ul.pagination_list li {
	float: left;
	display: block;
	height: 24px;
	color: #999;
	font-size: 15px;
	margin-left: 5px;
}
ul.pagination_list li a {
	display: block;
	padding: 6px 7px 4px;
	color: #555;
}
ul.pagination_list li.pagination_current, ul.pagination li:hover a, ul.pagination li a:focus {
	border-bottom: solid 2px #00a6fc;
	color: #141414;
}
ul.pagination_list li.unavailable a {
	cursor: default;
	color: #999;
}
ul.pagination_list li.unavailable:hover a, ul.pagination li.unavailable a:focus {
	border-bottom: none;
}




/* -----------------------------------------
Footer
----------------------------------------- */

#footer {
	border-top: 1px solid #dddddd;
}
