/* Foundation v2.1.4 http://foundation.zurb.com */
/* Artfully masterminded by ZURB */

/* --------------------------------------------------
Colour scheme
-----------------------------------------------------



/* -----------------------------------------
Legacy class fixes
----------------------------------------- */


#primary {
	width: 100%;
	max-width: 980px;
	min-width: 727px;
	margin: 0 auto;
}


/* -----------------------------------------
Browsing styles
----------------------------------------- */


.hentry {
	padding-top: 1em;
}

.element {
	margin-bottom: 1em;
}


ul#secondary-nav li {
	line-height: 3em;
	padding-left: 35px;
	list-style: none;
}

/*icons from WooFunction Icon set by Liam McKay */
li.nav-browse-by-tag {
	background: url(../images/preview.png) left center no-repeat;
}
li.nav-browse-all {
	background: url(../images/search.png) left center no-repeat;
}


/* -----------------------------------------
Forms
----------------------------------------- */

/* a bit of a hacky way to match the button with foundation buttons */

#submit_search {
	margin: 0 0 18px;
	background: #00a6fc;
	display: inline-block;
	text-align: center;
	font-size: 11px;
	padding: 6px 12px 10px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	position: relative;
	cursor: pointer;
	border: none;
	background: #00a6fc url(../images/misc/button-gloss.png) repeat-x 0 -34px;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.28);
	border: 1px solid #0593dc;
	-webkit-transition: background-color .15s ease-in-out;
	-moz-transition: background-color .15s ease-in-out;
	-o-transition: background-color .15s ease-in-out;
}

#simple-search .textinput {
	border: solid 1px #bbb;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	font-size: 11px;
	padding: 6px 12px 10px;
	width: auto;
	background: #fff;
	color: #666;
	margin: 0 2em 1em 0;
	padding: 6px 12px 10px;
}

#search.textinput {
	width: 254px;
	color: #666;
}

#simple-search fieldset {
	border: 0;
	color: #666;
	margin: 0 auto;
	padding: 0.5em 3em;
}

div.inputs {
	margin-bottom: 1em;
}





/* Tags ahoy ---------- */


.tagcloud p {
	padding: 10px;
}

.hTagcloud ul {
	width: 50%;
	overflow: hidden;
	background-color: #f2f2f2;
	margin: 0 0 1em;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

.hTagcloud li {
	display: inline-block;
	float: left;
	text-align: center;
	margin: 0 20px 20px 0;
	padding: 10px;
}

tagcloud p {
	background-color: #f2f2f2;
	box-shadow: 0 3px 5px #666;
	-webkit-box-shadow: 0 3px 5px #666;
	-moz-box-shadow: 0 3px 5px #666;
	margin-bottom: 20px;
}

.popular {
	font-size: 100%;
}
.v-popular {
	font-size: 140%;
}
.vv-popular {
	font-size: 180%;
}
.vvv-popular {
	font-size: 220%;
}
.vvvv-popular {
	font-size: 260%;
}
.vvvvv-popular {
	font-size: 300%;
}
.vvvvvv-popular {
	font-size: 320%;
}
.vvvvvvv-popular {
	font-size: 340%;
}
.vvvvvvvv-popular {
	font-size: 360%;
}




/* --------------------------------------------------
Pagination
-------------------------------------------------- */
ul.pagination_list {
	display: block;
	height: 24px;
	margin-left: -5px;
	padding-top: 10px;
}
ul.pagination_list li {
	float: left;
	display: block;
	height: 24px;
	color: #999;
	font-size: 15px;
	margin-left: 5px;
}
ul.pagination_list li a {
	display: block;
	padding: 6px 7px 4px;
	color: #555;
}
ul.pagination_list li.pagination_current, ul.pagination li:hover a, ul.pagination li a:focus {
	margin: 5px;
	border-bottom: solid 2px #00a6fc;
	color: #141414;
}
ul.pagination_list li.unavailable a {
	cursor: default;
	color: #999;
}
ul.pagination_list li.unavailable:hover a, ul.pagination li.unavailable a:focus {
	border-bottom: none;
}




/* -----------------------------------------
Footer
----------------------------------------- */

#footer {
	border-top: 1px solid #dddddd;
}
